{% extends '@admin/layout.twig' %}

{% block title "Edit post " ~ item.name %}

{%  block body %}
    <h1>Edit post {{ item.name }}</h1>

    <form action="{{ path(routesPrefix ~ '.edit', {id: item.id}) }}" method="post" enctype="multipart/form-data">
        {% include viewsPrefix ~ '/form.twig' %}
        <button class="btn btn-primary" type="submit">Edit</button>
    </form>

{% endblock %}