{% extends '@admin/layout.twig' %}

{% block title "Create a category" %}

{%  block body %}
    <h1>Create a category</h1>

    <form action="{{ path(routesPrefix ~ '.create') }}" method="post">
        {% include viewsPrefix ~ '/form.twig' %}
        <button class="btn btn-primary" type="submit">Create</button>
    </form>

{% endblock %}