{% extends '@admin/layout.twig' %}

{% block title "Edit" %}

{%  block body %}
    <h1>Create an article</h1>

    <form action="{{ path('blog.admin.create') }}" method="post">
        {% include '@blog/admin/form.twig' %}
        <button class="btn btn-primary" type="submit">Create</button>
    </form>

{% endblock %}