<li class="nav-item">
    <a class="nav-link {{ is_active_route('blog.admin.index') ? 'active' }}" href="{{ path('blog.admin.index') }}">Articles</a>
</li>
<li class="nav-item">
    <a class="nav-link {{ is_active_route('blog.admin.categories.index') ? 'active' }}" href="{{ path('blog.admin.categories.index') }}">Categories</a>
</li>
